@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Space Mono';
    src: url('../../Fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../../Fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../../Fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../../Fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.sidebar-icon {
    @apply p-2 border border-black shadow-md text-center w-fit my-8 mx-5 hover:bg-gray-300 hover:cursor-pointer;
}

.letter-tile {
    @apply p-7 px-10 border border-black shadow-md text-center w-fit my-8 mx-10 hover:cursor-pointer hover:brightness-75;
}

.user-input-tile {
    @apply p-8 border border-black shadow-md text-center w-fit my-3 mx-2;
}

.guess-row {

}