@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Space Mono';
    src: url('../../Fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space MonoB';
    src: url('../../Fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space MonoI';
    src: url('../../Fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Space MonoBI';
    src: url('../../Fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.sidebar-icon {
    @apply p-2 border border-black shadow-md text-center w-fit my-8 mx-5 hover:bg-gray-300 hover:cursor-pointer;
}

.letter-tile {
    @apply p-7 px-10 border border-black shadow-md text-center w-fit my-8 mx-10 hover:cursor-pointer;
}

.letter-tile-mini {
    @apply p-3 px-5 border border-black shadow-md text-center w-fit my-8 mx-10 hover:cursor-pointer
}

.user-input-tile {
    @apply lg:px-10 lg:py-8 py-4 px-6 border border-black shadow-md text-center w-fit lg:my-5 lg:mx-4 m-1 font-space-mono text-lg;
}

.sidebar-content {
    @apply mt-12 transform -translate-x-1/2 -translate-y-1/2 rounded-lg border ml-12 h-screen lg:hidden w-fit p-6 bg-white border-r-2 border-black flex flex-col items-end font-space-mono;
}

.menu-item {
    @apply hover:shadow-md hover:brightness-75 hover:cursor-pointer flex flex-row justify-start items-center mb-8 border-b border-black p-5 pr-10;
}

.tooltip {
    position: relative;
}

.tooltiptext-right {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: calc(100% + 0.5rem);
    transform: translateY(-50%);
}

.tooltiptext-left {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: calc(100% + 0.5rem);
    transform: translateY(-50%);
}

.tooltiptext-top {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 0.5rem);
    transform: translateY(-50%);
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }